<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="web design" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Marketing BH</a></h1>
            <p>Helping businesses use the internet to enhance their business</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="tel: +61423006989" class="icon fa-phone"><span class="label">Phone</span></a></li>
                
                <li><a href="mailto: davis@marketingbh.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
                
            </ul>
        </footer>
    </section>

